@font-face {
    font-family: 'Bembo';
    src: url('/fonts/Bembo-MT-Pro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bembo';
    src: url('/fonts/Bembo-MT-Pro-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Bembo';
    src: url('/fonts/Bembo-MT-Pro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bembo';
    src: url('/fonts/Bembo-MT-Pro-Bold-Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Bembo';
    src: url('/fonts/Bembo-MT-Pro-Light.otf') format('opentype');
    /* If available */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bembo';
    src: url('/fonts/Bembo-MT-Pro-Light-Italic.otf') format('opentype');
    /* If available */
    font-weight: 300;
    font-style: italic;
}